@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');



*
{
    background-color: black;
    font-family: "Silkscreen";
    text-align: center;
}



#button1
{
    background-color: transparent;
    height: 750px;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 400px;
    color: white;
    border-color: transparent;
}

#button2
{
    background-color: transparent;
    height: 100px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-size: 20px;
    color: white;
    border-color: white;
}


#winner
{
    color: white;
    font-size: 20px;
}